<div class="container">
  <div class="col-md-4"> 
  	<button type="button" class="btn btn-link"><a href="http://kids-count.herokuapp.com/assets/newsletters/KC_2014Summer.pdf" target="_blank">Read Kids Count Latest Newsletter</a></button>
  </div>
  <div class="col-md-4"> 
  	<p>Connect with us on Facebook and check out our blog!</p>
  	<ul class="share-buttons">
  		<li><a href="https://www.facebook.com/kidscountalachua/" title="Share on Facebook" target="_blank"><img src="../assets/images/flat_web_icon_set/color/Facebook.png"></a></li>
  		<li><a href="http://www.insidekidscount.wordpress.com" target="_blank" title="Publish on WordPress"><img src="../assets/images/flat_web_icon_set/color/Wordpress.png"></a></li>
	</ul>
  </div>
  <div class="col-md-4"> 
  	<p>Contact Us</p>
  	<p>Kids Count in Alachua County, Inc., PO Box 358272 Gainesville, FL 32635-8272</p>
  	<p>P: 352.372.0038</p>
  </div>
  <hr>
  <p>501(c)3 not-for-profit corporation</p>
</div>
