<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div align="center"><img src="../assets/images/KidsCountGive.jpg" /></div>

      <br>

      <p>Make a donation through PayPal. (You do not need a PayPal account to make the donation).</p>

      <br>

      <p>If you shop on Amazon.com, please consider designating Kids Count as your charity of choice. Through the Amazon Smile program, Amazon will donate 0.5% of your purchase amount to Kids Count. The money comes from Amazon and is not something extra tacked onto your costs. Visit https://smile.amazon.com/ for more information.</p>

      <br>
      
      <p>If you would like to learn more about how to impact a child's future please fill out his brief form and someone will be back with you soon:</p>
      <form id="giveForm" ng-submit="sendDonationRequest()">
          <input placeholder="Name" id="name" ng-model="request.name" type="text" class="validate" required>
          <input placeholder="Business Name" id="business_name" ng-model="request.businessName" type="text"  class="validate" required>
          <input placeholder="Email" id="email" ng-model="request.email" type="email" class="validate" required>
          <input placeholder="Phone" id="phone" ng-model="request.phone" type="tel"  class="validate" required>
          <input placeholder="Additional Information" id="information" ng-model="request.information" type="text" class="validate">
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <button type="submit-btn" class="btn btn btn-primary submit">Submit</button>
            </div>
          </div>
        </form>
    </div>
  </div>

</div>
