<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div align="center"><img src="../assets/images/KidsCountGive.jpg" /></div>

      <br>

      <p>Make a donation through PayPal. (You do not need a PayPal account to make the donation).</p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="RGTSPTQ9WRSYQ">
        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      <br>

      <div class="col-lg-12">
        <div class="col-lg-3">
          <img src="../assets/images/amazonsmile.jpg" />
        </div>
        <div class="col-lg-9">
          <p>If you shop on Amazon.com, please consider designating Kids Count as your charity of choice. Through the Amazon Smile program, Amazon will donate 0.5% of your purchase amount to Kids Count. The money comes from Amazon and is not something extra tacked onto your costs. Visit <a href="https://smile.amazon.com/">https://smile.amazon.com/</a> for more information.</p>
        </div>
      </div>

      <br>
      
      <p>If you would like to learn more about how to impact a child's future please fill out his brief form and someone will be back with you soon:</p>
      <form id="giveForm" ng-submit="sendDonationRequest()">
          <input placeholder="Name" id="name" ng-model="request.name" type="text" class="validate" required>
          <input placeholder="Business Name" id="business_name" ng-model="request.businessName" type="text"  class="validate" required>
          <input placeholder="Email" id="email" ng-model="request.email" type="email" class="validate" required>
          <input placeholder="Phone" id="phone" ng-model="request.phone" type="tel"  class="validate" required>
          <input placeholder="Additional Information" id="information" ng-model="request.information" type="text" class="validate">
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <button type="submit-btn" class="btn btn btn-primary submit">Submit</button>
            </div>
          </div>
        </form>
    </div>
  </div>

</div>
